@background: url(/static/img/patterns/subtle/px_by_Gre3g.png);

body {
	margin: 0px;
	padding: 0px;
	background-image: @background;
	background-repeat: repeat;
}

#thingy {
	text-align: center;
	margin-top: 40px;
}
