@background: url(/static/img/patterns/subtle/px_by_Gre3g.png);

body {
	margin: 50 px 0px;
	padding: 0px;
	background-image: @background;
	background-repeat: repeat;
	text-align: center;

	//disable selecting the background
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	overflow: hidden;
}

#content {
	width:600px;
	margin:0px auto;

	h1 {
		font-size: 3.5em;
		margin:15px;
		padding: 1em;
		border:1px dashed #333;
		background-color:#eee;
	}
	label {
		//display: block; //labels above
		float: left;
		width: 10em;
		margin-right: 1em;
		text-align: right;
	}
}

#gameBoard {
	position: absolute;
	left: 0px;
	right: 0px;
	width: 500px;
	height: 500px;
	background-color: green;
	border: 1px solid white;
}

.deckFace {
	width: 100%;
	height: 100%;
	background-image: @background; //this is changed in the code
	background-color: black;
	background-repeat: repeat;
}

.gameCardSquare {
	position: absolute;
	background-color: white;
	border: 1px solid black;
	padding: 5px;

	img {
		width: 100%;
		height: 100%;
	}
}
