<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/reset_rtl.css" />
<link rel="stylesheet" href="/static/css/text_rtl.css" />
<link rel="stylesheet" href="/static/css/demo.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.js"></script>
<script type="text/javascript" src="/static/js/jquery.flippy.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.xdomainajax.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script type="text/javascript" src="/static/js/conn.js"></script>
</head>
<body >
<div id="cardContainer" style="position:fixed; left:0; height:900px; width:1300px" >
<!-- first row -->
</div>
<!-- end .container_24 -->

<div style="display:none;">
	<div id="cardContent" >
		<div >
		<img style=" position:relative; right:40px; top:20px; max-width:110px; max-height:110px;" src=					     ""/>
		<div style="position:relative; bottom:40px; right:-30px">
			UGG Australia
			$299
		</div>
		</div>
	</div>
	<div id="cardBackContent">
		<div>
		<img style="position:relative; top:6px;  left: 4px; max-height:210px;" src="/static/images/house-of-cards-back.jpg"/>
		</div>
	</div>
</div>

</body>

</html>

