<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset=utf-8 />
	<title>Pairs-Ga.me</title>

	<script type=text/javascript src=/static/js/dep/jquery-1.8.3.min.js></script>

	<link rel=stylesheet href=/static/css/bootstrap.min.css />
	<script src=/static/js/dep/bootstrap.min.js></script>

	<link rel=stylesheet/less href=/static/css/common.less />
	<link rel=stylesheet/less href=/static/css/start.less />
	<script type=text/javascript src=/static/js/dep/less-1.3.1.min.js></script>
</head>
<body>
	<div id="content">
		<div id="errmsg" class="alert alert-block alert-error hide">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4>Warning!</h4>
			<span id="errmsgtxt">Best check yo self, you're not looking too good.</span>
		</div>
		<h1>Pairs-Ga.me <br><small>the memory workout</small></h1>
		<button class="btn" id="toggle-settings"><i class="icon-wrench"></i></button>
		<form action="/game" method="get">
			<div class="btn-group">
				<button type="submit" class="span3 btn btn-large btn-success" name="t" value="0">CLASSIC</button>
				<button type="submit" class="span3 btn btn-large btn-danger" name="t" value="1">RUSH</button>
			</div>
			<div class="well form-horizontal" id="settings">
				<div class="control-group">
					<label class="control-label" for="n">Number of Pairs:</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="span2" id="n" name="n" value="10">
							<button type="button" class="btn ncards">5</button>
							<button type="button" class="btn ncards btn-primary">10</button>
							<button type="button" class="btn ncards">15</button>
							<button type="button" class="btn ncards">20</button>
						</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="m">Max. allowed players:</label>
					<div class="controls">
						<div class="input-append">
							<input type="text" class="span2" id="m" name="m" value="2">
							<button type="button" class="btn nplayers">1</button>
							<button type="button" class="btn nplayers btn-primary">2</button>
							<button type="button" class="btn nplayers">3</button>
							<button type="button" class="btn nplayers">5</button>
							<button type="button" class="btn nplayers">&#8734;</button>
						</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="ct">Card Images:</label>
					<div class="controls">
						<select name="ct">
							{{range .CardImageSources}}
								<option value="{{.Id}}">{{.Name}}</option>
							{{end}}
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="cl">Card Layout:</label>
					<div class="controls">
						<select name="cl">
							<option value="0">Tight Grid</option>
							<option value="1" selected>Loose Grid</option>
							<option value="2">Cardstack</option>
							<option value="3">Chaotic</option>
						</select>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="card_rotation">Random Rotations:</label>
					<div class="controls">
						<div class="btn-group" data-toggle="buttons-radio" >
							<button type="button" data-toggle="button" value="0" name="cr" class="btn rotcards">Perfect</button>
							<button type="button" data-toggle="button" value="1" name="cr" class="btn rotcards btn-primary active">Jiggly</button>
							<button type="button" data-toggle="button" value="2" name="cr" class="btn rotcards">Realistic</button>
							<button type="button" data-toggle="button" value="3" name="cr" class="btn rotcards">Chaotic</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<script type=text/javascript>
		// Thanks SO
		function getParameterByName(name)
		{
			name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
			var results = new RegExp("[\\?&]" + name + "=([^&#]*)").exec(window.location.search);
			if(results == null)
				return "";
			else
				return decodeURIComponent(results[1].replace(/\+/g, " "));
		}

		// Display an error message at the top of the page in case there is
		// attached error information to the request.
		errmsg = getParameterByName('errmsg')
		if(errmsg) {
			$('#errmsgtxt').html(errmsg)
			$('#errmsg').hide().removeClass('hide').fadeIn()
		}

		// Make the button reflecting the current number of cards/max players blue
		var sync_input_buttons = function(classname, inputname) {
			// Make the button reflecting the current number of cards blue
			$(classname).on('click', function() {
				$(inputname).val($(this).text())
				$(inputname).trigger('change')
			})
			$(inputname).on('keyup change', function() {
				var n = $(inputname).val() || "10"
				$(classname).each(function(i, e) { $(e).toggleClass('btn-primary', $(e).text() == n) })
			})
		}
		sync_input_buttons(".ncards", "#n")
		sync_input_buttons(".nplayers", "#m")

		// toggle class, depending on what rotation is selected
		$('.rotcards').on('click', function() {
			$('.rotcards').removeClass('btn-primary')
			$(this).addClass('btn-primary')
		})

		$('#toggle-settings').on('click', function() {
			$('#settings').fadeToggle()
		})
	</script>
</body>
</html>
