<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8 />
    <title>Pairs-Ga.me</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script type=text/javascript src=/static/js/dep/jquery-1.8.3.min.js></script>

    <link rel=stylesheet href=/static/css/bootstrap.min.css />
    <script src=/static/js/dep/bootstrap.min.js></script>

    {{if .Production}}
    <link rel=stylesheet/less href=/static/css/main_start.less />
    <script type=text/javascript src=/static/js/dep/less-1.3.1.min.js></script>
    {{else}}
    <link rel=stylesheet/css href=/static/min/main_start.min.css />
    {{end}}
</head>
<body>
    <div id=content>
        <div id=errmsg class="alert alert-block alert-error hide">
            <button type=button class=close data-dismiss=alert>&times;</button>
            <h4>Warning!</h4>
            <span id=errmsgtxt>Best check yo self, you're not looking too good.</span>
        </div>
        <h1>Pairs-Ga.me <br><small>the memory workout</small></h1>
        <button id=toggle-settings class=btn><i class=icon-wrench></i></button>
        <form action=/game method=get>
            <div class=btn-group>
                <button type=submit class="span3 btn btn-large btn-success" name=t value=0>CLASSIC</button>
                <button type=submit class="span3 btn btn-large btn-danger" name=t value=1>RUSH</button>
            </div>
            <div id=settings class="well form-horizontal">
                <div class=control-group>
                    <label class=control-label for=n>Number of Pairs:</label>
                    <div class=controls>
                        <div class=input-append>
                            <input id=n type=text class=span2 name=n value=10>
                            <button type=button class="btn ncards">5</button>
                            <button type=button class="btn ncards btn-primary">10</button>
                            <button type=button class="btn ncards">15</button>
                            <button type=button class="btn ncards">20</button>
                        </div>
                    </div>
                </div>

                <div class=control-group>
                    <label class=control-label for=m>Max. allowed players:</label>
                    <div class=controls>
                        <div class=input-append>
                            <input id=m type=text class=span2 name=m value=2>
                            <button type=button class="btn nplayers">1</button>
                            <button type=button class="btn nplayers btn-primary">2</button>
                            <button type=button class="btn nplayers">3</button>
                            <button type=button class="btn nplayers">5</button>
                            <button type=button class="btn nplayers">&#8734;</button>
                        </div>
                    </div>
                </div>

                <div class=control-group>
                    <label class=control-label for=ct>Card Images:</label>
                    <div class=controls>
                        <select name=ct>
                            {{range .CardInformation.CardImageSources}}
                                <option value="{{.Id}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>

                <div class=control-group>
                    <label class=control-label for=cl>Card Layout:</label>
                    <div class=controls>
                        <div class=btn-group data-toggle=buttons-radio >
                            <button type=button data-toggle=button value=0 name=cl class="btn cardlayout">Tight</button>
                            <button type=button data-toggle=button value=1 name=cl class="btn cardlayout btn-primary active">Loose</button>
                            <button type=button data-toggle=button value=2 name=cl class="btn cardlayout">Stack</button>
                            <button type=button data-toggle=button value=3 name=cl class="btn cardlayout">Chaotic</button>
                        </div>
                    </div>
                    <!-- Unfortunately, I don't know of any other solution than
                         to use a hidden input in here in order to pass the val
                         as a URL query parameter. It's synced by js below. -->
                    <input id=cl type=text style="display: none" name=cl value=1></input>
                </div>

                <div class=control-group>
                    <label class=control-label for=card_rotation>Random Rotations:</label>
                    <div class=controls>
                        <div class=btn-group data-toggle=buttons-radio >
                            <button type=button data-toggle=button value=0 name=cr class="btn rotcards">Aligned</button>
                            <button type=button data-toggle=button value=1 name=cr class="btn rotcards btn-primary active">Jiggly</button>
                            <button type=button data-toggle=button value=2 name=cr class="btn rotcards">Realistic</button>
                            <button type=button data-toggle=button value=3 name=cr class="btn rotcards">Chaotic</button>
                        </div>
                    </div>
                    <!-- Unfortunately, I don't know of any other solution than
                         to use a hidden input in here in order to pass the val
                         as a URL query parameter. It's synced by js below. -->
                    <input id=cr type=text style="display: none" name=cr value=1></input>
                </div>
            </div>
        </form>
    </div>

    <script type=text/javascript>
        // Thanks SO
        function getParameterByName(name)
        {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]")
            var results = new RegExp("[\\?&]" + name + "=([^&#]*)").exec(window.location.search)
            if(results == null)
                return ""
            else
                return decodeURIComponent(results[1].replace(/\+/g, " "))
        }

        // Display an error message at the top of the page in case there is
        // attached error information to the request.
        errmsg = getParameterByName('errmsg')
        if(errmsg) {
            $('#errmsgtxt').html(errmsg)
            $('#errmsg').hide().removeClass('hide').fadeIn()
        }

        // Make the button reflecting the current number of cards/max players blue
        var sync_input_buttons = function(classname, inputname, default_) {
            // When one of the buttons is clicked, make the input reflect the
            // content of that button('s value)
            $(classname).on('click', function() {
                $(inputname).val($(this).val() || $(this).text())
                $(inputname).trigger('change')
            })
            // When the input is changed, check if any of the button('s value)
            // was entered and if so, "mark" that button.
            $(inputname).on('keyup change', function() {
                var n = $(inputname).val() || default_
                $(classname).each(function(i, e) { $(e).toggleClass('btn-primary', ($(e).val() || $(e).text()) == n) })
            })
        }
        sync_input_buttons(".ncards", "#n", "10")
        sync_input_buttons(".nplayers", "#m", "2")
        sync_input_buttons(".cardlayout", "#cl", "1")
        sync_input_buttons(".rotcards", "#cr", "1")

        // react to card image source changes, by adjusting the possible number of pairs
        $("select[name='ct']").change(function(e) {
            console.log($( this ).val()) //the id of the selected option
        })

        $('#toggle-settings').on('click', function() {
            $('#settings').fadeToggle()
        })
    </script>
</body>
</html>
