<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Pairs-Ga.me</title>
	<link rel="stylesheet" href="/static/css/dep/bootstrap.min.css" />
	<script src="/static/js/dep/bootstarp.min.js"></script>
	<link rel="stylesheet/less" href="/static/css/main.less" />
	<script type="text/javascript" src="/static/js/dep/less-1.3.1.min.js"></script>
</head>
<body>
	<div class="hero-unit span8 offset4" id="thingy">
		<h1>Pairs-Ga.me <br><small>the memory workout</small></h1>
	</div>
	<div class="span8 offset5">
		<a href="/game?t=0" class="span3 btn btn-large btn-success">CLASSIC</a>
		<a href="/game?t=1" class="span3 btn btn-large btn-danger">RUSH</a>
	</div>
</body>
</html>
